.card {
	height: 200px;
	width: 120px;
	
}

img	{
	max-height: 200px;
	width: 120px;
}

#f1{
	top: 10px;
	left: 10px;
	position: absolute;
	height: 200px;
	width: 120px;
}

#b1 {
	top: 10px;
	left: 10px;
	position: absolute;
	height: 200px;
	width: 120px;
}

#f1:hover {
	visibility: hidden;
}

#f2{
	top: 10px;
	left: 150px;
	position: absolute;
	height: 200px;
	width: 120px;
}

#b2 {
	top: 10px;
	left: 150px;
	position: absolute;
	height: 200px;
	width: 120px;
}

#f2:hover {
	visibility: hidden;
}

#f3{
	top: 10px;
	left: 300px;
	position: absolute;
	height: 200px;
	width: 120px;
}

#b3 {
	top: 10px;
	left: 300px;
	position: absolute;
	height: 200px;
	width: 120px;
}

#f3:hover {
	visibility: hidden;
}
#f4{
	top: 10px;
	left: 450px;
	position: absolute;
	height: 200px;
	width: 120px;
}

#b4 {
	top: 10px;
	left: 450px;
	position: absolute;
	height: 200px;
	width: 120px;
}

#f4:hover {
	visibility: hidden;
}
