#ti {
  background-color: lightblue;

}
#container{
  background-color: grey;
  padding-top: 20px;
  height: 600px;
}
#row1 {
  background-color: grey;
  display: block;
  margin-top: 100px;
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}
#row2 {
  background-color: grey;
  display: block;
  margin-top: 100px;
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.front, .back {
  width: 120px;
  height: 200px;
  backface-visibility: hidden;
  transition: transform 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}
.one, .two, .three, .four, .five, .six, .seven, .eight{
  position: relative;

}
.front {
  transform: rotateY(-180deg);
  position: absolute;
  top: 0px;
  left: 0px; 
}
